In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv(r"C:\Users\admin\titanic_new.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Data Description:

1. Survival: (0=No,1=Yes) -Traget Column
2. PClass: Passenger class(1,2,3)
3. Name
4. Sex:Gender of Passenger
5.Sibsp: Number of Siblings Aboard
6. Parch: No of Parents/Child Aboard
7. Ticket Number
8. Fare: Ticket Fare
9.Cabin
10.Embarked: Port of Embarkation(C=Cherbourg, Q=Queenstown,S=Southampton

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
#1. We don't meed cabin column so drop the column
df.drop('Cabin',axis=1,inplace=True)

In [5]:
#2. fillna all na values with mean
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [6]:
#3. drop null values from data set for better data
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.3+ KB

In [9]:
df.drop(['PassengerId','Name','Ticket','Fare'],axis=1,inplace=True)

In [10]:
x=df.iloc[:,1:]

In [11]:
y=df['Survived']

In [12]:
x

     Pclass     Sex        Age  SibSp  Parch Embarked
0         3    male  22.000000      1      0        S
1         1  female  38.000000      1      0        C
2         3  female  26.000000      0      0        S
3         1  female  35.000000      1      0        S
4         3    male  35.000000      0      0        S
..      ...     ...        ...    ...    ...      ...
886       2    male  27.000000      0      0        S
887       1  female  19.000000      0      0        S
888       3  female  29.699118      1      2        S
889       1    male  26.000000      0      0        C
890       3    male  32.000000      0      0        Q

[889 rows x 6 columns]

In [13]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 889, dtype: int64

In [14]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [15]:
#Checked data is balanced or not 
df['Survived'].value_counts()

0    549
1    340
Name: Survived, dtype: int64

### Column Transformer

Transformers: 1st attribute : Transformer name

2nd attribute:  List of a Tuple

3rd-------Remainder>---Passthorugh--->By Default: Drop

In [16]:
#Encoding----Age and Embarked column

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [17]:
#Column Transformer----> it is used when we want to encode more than 1 columns at a time
ct=ColumnTransformer(transformers=[('Encoder',OneHotEncoder(),['Sex','Embarked'])],remainder='passthrough')

In [18]:
x=ct.fit_transform(x)

In [19]:
x[0]

array([ 0.,  1.,  0.,  0.,  1.,  3., 22.,  1.,  0.])

In [20]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=1)

In [21]:
#svc---Support vector Classifier
#svr---Support Vector Regression
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [27]:
#Making objects
logreg=LogisticRegression()
knn=KNeighborsClassifier()
svc=SVC()

In [23]:
def mymodel(model):
    model.fit(xtrain,ytrain)
    ypred=model.predict(xtest)
    print(classification_report(ytest,ypred))
    return model

In [24]:
mymodel(logreg)

              precision    recall  f1-score   support

           0       0.86      0.87      0.86       166
           1       0.78      0.77      0.78       101

    accuracy                           0.83       267
   macro avg       0.82      0.82      0.82       267
weighted avg       0.83      0.83      0.83       267

LogisticRegression()

In [25]:
mymodel(KNeighborsClassifier())

              precision    recall  f1-score   support

           0       0.81      0.85      0.83       166
           1       0.73      0.66      0.69       101

    accuracy                           0.78       267
   macro avg       0.77      0.76      0.76       267
weighted avg       0.78      0.78      0.78       267

KNeighborsClassifier()

In [28]:
mymodel(svc)

              precision    recall  f1-score   support

           0       0.63      0.97      0.77       166
           1       0.62      0.08      0.14       101

    accuracy                           0.63       267
   macro avg       0.62      0.52      0.45       267
weighted avg       0.63      0.63      0.53       267

SVC()

### Pipeline generation

Method (2)---to excute

In [31]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [32]:
p1=Pipeline(steps=[("scaler",StandardScaler()),("svm",SVC())])

In [33]:
p1.fit(xtrain,ytrain)
ypred=p1.predict(xtest)
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89       166
           1       0.90      0.70      0.79       101

    accuracy                           0.86       267
   macro avg       0.87      0.83      0.84       267
weighted avg       0.86      0.86      0.85       267

In [34]:
svm=SVC(kernel="linear")
mymodel(svm)

              precision    recall  f1-score   support

           0       0.85      0.87      0.86       166
           1       0.77      0.74      0.76       101

    accuracy                           0.82       267
   macro avg       0.81      0.81      0.81       267
weighted avg       0.82      0.82      0.82       267

SVC(kernel='linear')

In [35]:
#poly is used for image processing data
svm=SVC(kernel="poly")
mymodel(svm)

              precision    recall  f1-score   support

           0       0.65      1.00      0.79       166
           1       1.00      0.13      0.23       101

    accuracy                           0.67       267
   macro avg       0.83      0.56      0.51       267
weighted avg       0.78      0.67      0.58       267

SVC(kernel='poly')

In [36]:
svm=SVC(kernel="sigmoid")
mymodel(svm)

              precision    recall  f1-score   support

           0       0.62      0.66      0.64       166
           1       0.38      0.35      0.36       101

    accuracy                           0.54       267
   macro avg       0.50      0.50      0.50       267
weighted avg       0.53      0.54      0.53       267

SVC(kernel='sigmoid')

### 2. hypertuner  of "C" and "Gamma"

In [37]:
#Grid search cv ---we can get the best class
from sklearn.model_selection import GridSearchCV

In [38]:
param_grid={'C':[1,10],'gamma':[1,10],'kernel':["rbf"]}

In [39]:
#verbose is not a hyper parameter it is used to display info
gd=GridSearchCV(svc,param_grid,verbose=3)
gd.fit(xtrain,ytrain)
ypred=gd.predict(xtest)

Fitting 5 folds for each of 4 candidates, totalling 20 fits
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.768 total time=   0.0s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.696 total time=   0.0s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.758 total time=   0.0s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.766 total time=   0.0s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.766 total time=   0.0s
[CV 1/5] END .........C=1, gamma=10, kernel=rbf;, score=0.688 total time=   0.0s
[CV 2/5] END .........C=1, gamma=10, kernel=rbf;, score=0.624 total time=   0.0s
[CV 3/5] END .........C=1, gamma=10, kernel=rbf;, score=0.669 total time=   0.0s
[CV 4/5] END .........C=1, gamma=10, kernel=rbf;, score=0.685 total time=   0.0s
[CV 5/5] END .........C=1, gamma=10, kernel=rbf;, score=0.677 total time=   0.0s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.776 total time=   0.0s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.688 total time=   0.0s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.774 total time=   0.0s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.766 total time=   0.0s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.758 total time=   0.0s
[CV 1/5] END ........C=10, gamma=10, kernel=rbf;, score=0.688 total time=   0.0s
[CV 2/5] END ........C=10, gamma=10, kernel=rbf;, score=0.624 total time=   0.0s
[CV 3/5] END ........C=10, gamma=10, kernel=rbf;, score=0.669 total time=   0.0s
[CV 4/5] END ........C=10, gamma=10, kernel=rbf;, score=0.685 total time=   0.0s
[CV 5/5] END ........C=10, gamma=10, kernel=rbf;, score=0.677 total time=   0.0s

In [41]:
#To find best combination 
gd.best_params_

{'C': 10, 'gamma': 1, 'kernel': 'rbf'}

In [43]:
gd.best_estimator_

SVC(C=10, gamma=1)

In [44]:
gd.best_score_

0.7524774193548387

In [45]:
svc=gd.best_estimator_
svc.fit(xtrain,ytrain)
ypred=svc.predict(xtest)
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.80      0.86      0.83       166
           1       0.73      0.64      0.68       101

    accuracy                           0.78       267
   macro avg       0.76      0.75      0.75       267
weighted avg       0.77      0.78      0.77       267